---
export const prerender = true;

import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Project from "../components/Project.astro";
import AboutMe from "../components/AboutMe.astro";
import Languages from "../components/Languages.astro";
import Education from "../components/Education.astro";
import Certifications from "../components/Certifications.astro";
---

<Layout title="Porfolio Sebastian Bravo - Desarrollador Full Stack">
  <main class="relative bg-gradient-to-br from-neutral-900 via-primary-900 to-neutral-900">
    <Hero />

    <SectionContainer class="relative z-10">
      <div class="space-y-16 py-16">
        <Project />
        <AboutMe />
        <Education />
        <Certifications />
        <Experience />
        <Languages />
      </div>
    </SectionContainer>
  </main>
</Layout>
