---
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Project from "../components/Project.astro";
import AboutMe from "../components/AboutMe.astro";
import Languages from "../components/Languages.astro";
import Education from "../components/Education.astro";
import Certifications from "../components/Certifications.astro";
---

<Layout title="Porfolio Sebastian Bravo - Desarrollador Full Stack">
  <SectionContainer class="flex flex-col">
    <Hero />
    <div class="space-y-32 py-24">
      <Project />
      <AboutMe />
      <Education />
      <Certifications />
      <Experience />
      <Languages />
    </div>
  </SectionContainer>
</Layout>
