---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import RedesHeader from "../components/RedesHeader.astro";
import RedesMainContent from "../components/RedesMainContent.astro";
import RedesStats from "../components/RedesStats.astro";
---

<Layout title="Redes - Sebastian Bravo">
  <main class="relative min-h-screen bg-gradient-to-br from-neutral-900 via-primary-900 to-neutral-900">
    <!-- Background pattern -->
    <div
      class="absolute inset-0"
      style='background-image: url(&apos;data:image/svg+xml,%3Csvg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%236366f1" fill-opacity="0.08"%3E%3Ccircle cx="7" cy="7" r="1"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E&apos;)'
    >
    </div>

    <!-- Main Content Section -->
    <div class="relative bg-gradient-to-br from-neutral-900/95 via-primary-900/95 to-neutral-900/95">
      <SectionContainer class="relative z-10">
        <div class="max-w-2xl mx-auto pt-12 pb-24 space-y-16">
          <RedesHeader />
          <RedesMainContent />
        </div>
      </SectionContainer>
    </div>
  </main>

  <RedesStats />
</Layout>
