---
export interface Props {
  title: string;
  class?: string;
}

const { title, class: className = "" } = Astro.props;
---

<div class={`py-4 ${className}`}>
  <h3 class="text-white font-display font-bold text-lg mb-4">{title}</h3>
  <slot />
</div>
